<div class="mar-btm">
  <h6>Anonymous</h6>
</div>
<p class="p_comment"><%=data.content%></p>
<div class="pad-ver">
  <form action="/add-comment/<%=id_news%>" method="post">
    <div class="form-group col-sm">
      <input
        type="text"
        class="form-control"
        id="content"
        name="content"
        aria-describedby="emailHelp"
        placeholder="write comment"
      />
    </div>
    <input
      type="hidden"
      class="btn btn-sm btn-default btn-hover-primary"
      value="<%=data.id%>"
      id="comment_tree_fk"
      name="comment_tree_fk"
    />
    <input
      class="btn btn-sm btn-default btn-hover-primary"
      type="submit"
      value="Write Comment"
    />
  </form>
</div>
