<div class="mar-btm">
  <h6>Anonymous</h6>
</div>
<p class="p_comment"><%=data.content%></p>
<div class="pad-ver">
  <form>
    <div class="form-group col-sm">
      <input
        type="email"
        class="form-control"
        id="comment"
        name="comment"
        aria-describedby="emailHelp"
        placeholder="write comment"
      />
    </div>
    <input
      class="btn btn-sm btn-default btn-hover-primary"
      href="#"
      value="Write Comment"
    />

    <a class="btn btn-sm btn-default btn-hover-primary" href="#">See Comment</a>
  </form>
</div>
