<%- include('templates/header')-%>
<form action="/add-news" method="post">
  <div class="mb-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="emailHelp"
        placeholder="Enter Title"
      />
    </div>
  </div>
  <div class="mb-3">
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Enter Description"
      ></textarea>
    </div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Upload Thumbnail Image</label>
    <input class="form-control" type="file" id="formFile" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('templates/footer')-%>
