<%- include('templates/header')-%>

<center>
  <img
    class="success-image"
    src="/images/success-svgrepo-com.svg"
    alt="Responsive image"
  />
  <br />
  <a href="/" class="btn btn-primary">Go Home</a>
</center>

<%- include('templates/footer')-%>
