body {
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.card-text {
  color: #55595c;
}

.card-title {
  text-transform: capitalize;
}

.success-image {
  width: 50%;
  height: 50%;
  align-self: center;
  padding-bottom: 50px;
}
